body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family:"Arial";
}

nav > a {
  padding:10px;
  background:aqua;
}

figcaption {
  font-size: 14px
}

#featured-property{
  text-align: center;
}

#featured-property > p {
  width: 800px;
  margin: auto;
}

#details > div {
  float: left;
  display: block;
  width: 25%;
  height: 200px;
  background: red;
}